.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    padding: 35px 80px;
    font-family: 'Inter',sans-serif;
    font-size: 15px;
}
header{
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}
nav{
    justify-content: flex-end;
    align-items: flex-end;
}
nav a{
    padding-right: 15px;
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}
nav a:hover{
    color: hsl(5, 85%, 63%);
}
.icon-menu{
    cursor: pointer;
    display: none;
}
section,.main-text{
    display: flex;
}
.main-img{
    height: 50vh;
    width: 90%;
}
.main-p{
    margin-top: 3rem;
    margin-right: 3rem;
}
h1{
    font-size: 3em;
    margin-right: 20%;
    color: hsl(240, 100%, 5%);
}
p{
    color: hsl(236, 13%, 42%);
}
button{
    margin-top: 1.5rem;
    border: none;
    padding: 10px 20px;
    color: hsl(36, 100%, 99%);
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: hsl(5, 85%, 63%);
}
button:hover{
    background-color: hsl(240, 100%, 5%);
}
.card{
    width: 55%;
    padding: 20px;
    background-color: hsl(240, 100%, 5%);
}
.card-p{
    color: hsla(36, 100%, 99%, 0.7);
}
hr{
    margin: 2rem 0;
    border: 1px solid hsla(233, 8%, 79%, 0.2);
}
h2{
    font-size: 2em;
    color: hsl(35, 77%, 62%);
}
h3{
    color: hsl(36, 100%, 99%);
}
h3:hover{
    color: hsl(35, 77%, 62%);
}
footer{
    display: flex;
    margin-top: 6%;
    margin-bottom: 5%;
    justify-content: space-between;
}
.images{
    height: 25vh;
    margin-right: 5%;
    align-self: center;
}
.footer-div{
    margin-right: 2rem;
    font-size: 0.9em;
    display: flex;
}
h4{
    font-size: 1.5em;
    color: hsla(236, 13%, 42%, 0.5);
}
h5{
    font-size: 1.1em;
}
h5:hover{
    color: hsl(5, 85%, 63%);
}
.navigation {
    display: none;
}
h3:hover,h5:hover{
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999; 
    }
    #icon-menu-close{
        padding: 20px 0;
        cursor: pointer;
        align-self: flex-end;
    }
    .navigation {
        display: none;
        padding: 20px;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%; 
        height: 100%;
        background-color: white;
        z-index: 1000;
        overflow-y: auto; 
    }
    .icon-menu-close-div{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .mobile-nav{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
    }
    .mobile-nav a{
        line-height: 2.5;
        font-size: 1.3em;
        text-decoration: none;
        color: hsl(240, 100%, 5%);
    }
    .mobile-nav a:hover{
        color: hsl(5, 85%, 63%);
    }
    body{
        padding: 0;
        padding: 0 5px;
    }
    header{
        margin-top: 10%;
    }
    nav{
        display: none;
    }
    .icon-menu{
        display: block;
    }
    section,.main-text{
        flex-direction: column;
    }
    .main-img{
        max-width: 100%;
    }
    h1{
        width: 90%;
        margin-bottom: 0;
    }
    .card{
        margin-top: 10%;
        width: 90%;
    }
    footer{
        flex-direction: column;
    }
    .footer-div{
        margin-bottom: 5%;
    }
}